/*css reset*/
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/*targets the html element body*/
body { 
	background-image: url(../images/bg.jpg);
	background-position: center;
	background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover; 
	background-repeat: no-repeat;
	color: #f2f2f2; /*off white*/
	font-family: 'Roboto', sans-serif;
}

/*targets the html element h1*/
h1 {
	font-size: 50px;
	background-color: #333; /*off black*/
	text-transform: uppercase;
	margin-bottom: 15px;
	letter-spacing: 3px;
}

/*targets the html element h2*/
h2 {
	text-transform: uppercase;
	letter-spacing: 5px;
	margin-bottom: 15px;
	color: yellow;
	padding: 10px;
	background-color: #333;
	border-radius: 10px;
}

/*targets the id(html attribute) with the value me*/
#me {
	height: 200px;
	width: 200px;
	border-radius: 50%;
	border-width: 5px;
	border-style: solid;
	border-color: white;
	margin-top: 50px;
	margin-bottom: 25px;
} 

/*targets the class(html attribute) with the value bio*/
.bio {
	width: 100%;
	font-size: 18px;
	line-height: 1.75;
	background-color: rgba(51, 51, 51, 0.8);
	/*background-color: #333;*/
	/*opacity: 0.5;*/
}

/*targets the class(html attribute) with the value container*/
.container {
	width: 500px;
	margin: 0 auto;
	text-align: center;
}